/*style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    min-width: 1320px;
}

.w-30 {
    width: 30%;
    flex-flow: column wrap;
    position: relative;
}

.w-70 {
    width: 70%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 150px auto;
}

.small {
    width: 37%;
}

ul {
    list-style: none
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* header */

header nav {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 0.5px solid rgb(211, 219, 226);
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: space-between;
}

header nav .d-flex {
    align-items: center;
}

header nav img {
    height: 50%;
    padding-right: 15px;
}

.btn-inizia {
    background-color: rgb(0, 97, 255);
    padding: 8px 18px;
    color: white;
}

.btn-inizia:hover {
    background-color: rgb(41, 122, 254);
}

header nav ul li {
    padding-left: 30px;
}

header nav a {
    text-decoration: none;
    color: black;
}

.hov:hover {
    background-color: rgb(242, 238, 232);
    padding: 15px 5px;
    border-radius: 10%;
}

/*Jumbo*/

#jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 80px;
}

#jumbotron .container {
    position: relative;
    bottom: -70px;
}

h1 {
    font-size: 76px;
    font-weight: 900;
    padding-bottom: 50px;
}

.d-flex {
    display: flex;
}

#jumbotron img {
    width: 100%;
}

.btn-jumbo {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
}

.btn-jumbo:hover {
    background-color: rgb(41, 122, 254);
}

.space {
    padding-top: 50px;
}

.w-30 p {
    line-height: 25px;
    font-size: 16px;
}

.w-30 a {
    position: relative;
    text-decoration: none;
    top: 50px;
    left: 0;
    font-size: 15px;
}

.black {
    color: black;
}

.w-30 .arrow {
    position: relative;
    font-size: 55px;
    top: 90px;
    color: black;
}

/*Main*/
/*checkbox*/

#main-plans {
    font-size: 40px;
    padding-bottom: 25px;
}

.small-container h2 {
    margin-bottom: 60px;
    font-size: 37px;
}

.radio-div {
    height: 50px;
    padding-right: 30px;
}

.radio-div p {
    line-height: 22px;
    font-size: 15px;
}

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container-radio:hover input~.checkmark {
    background-color: #ccc;
}

.container-radio input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked~.checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
}

/*Plan_section*/

#plans-pad {
    padding-top: 30px;
}

.table {
    width: calc((100% - 80px) / 3);
    border: 1px solid rgb(214, 214, 217);
    min-height: 1000px;
}

.fa-user,
.fa-users,
.fa-building {
    font-size: 19px
}

.table p {
    font-size: 20px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 20px;
}

.user-type {
    text-align: center;
    padding: 1px 0;
    border-bottom: 1px solid rgb(214, 214, 217);
}

.plans-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 2.0;
    font-size: medium;
}

.plans-container h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 16px;
}

.price {
    display: inline-block;
    font-weight: bold;
    padding: 10px 0;
}

.month {
    color: rgb(162, 162, 163);
}

.info {
    padding: 35px 0;
}

.info i {
    margin-right: 5px;
}

.info-2 {
    padding-bottom: 18px;
}

.btn-2 {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px 28px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.btn-2:hover {
    background-color: rgb(41, 122, 254);
}

.btn-2c {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px 90px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.btn-2c:hover {
    background-color: rgb(41, 122, 254);
}

.slash-hr {
    display: inline-block;
    padding: 20px 5px 30px 0;
    border-bottom: 1px solid rgb(208, 208, 211);
}

.col-plan h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 16px;
}

.fa-check {
    color: rgb(0, 97, 255);
    padding-right: 5px;
}

.info-3 {
    padding-top: 10px;
}

.table-center {
    margin: 0 40px;
}

#table-foot {
    min-height: 100px;
    border: 1px solid rgb(214, 214, 217);
    margin-top: 30px;
}

#table-foot .table-foot-container {
    width: 80%;
    margin: 30px auto;
}

#table-foot p {
    font-size: 20px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 20px;
}

.tfc-left {
    flex-basis: 70%;
}

.paragraph2 {
    padding-top: 40px;
    font-size: 15px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 20px;
}

.tfc-left h3 {
    font-size: 30px;
}

.paragraph {
    display: inline-block;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
}

.tfc-right {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.btn-3 {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px 15px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.btn-3:hover {
    background-color: rgb(41, 122, 254);
}

.blue {
    color: rgb(19, 19, 239);
}

/*Partner_section*/

.left-part {
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
}

.left-part img {
    width: 100%;
}

.right-part {
    flex-basis: 40%;
    padding-top: 35px;
}

.right-part h3 {
    font-size: 25px;
    line-height: 1.5;
}

.right-part p {
    padding-top: 12px;
    padding-bottom: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn-4 {
    border: 1px solid black;
    color: black;
    padding: 15px 10px;
    width: 55%;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.btn-4:hover {
    background-color: rgb(235, 235, 235);
}

/*Dropbox_business*/

.card {
    flex-basis: calc(100% / 3);
    min-height: 500px;
    padding-right: 55px;
    padding-top: 15px;
}

.card-image {
    height: 50%;
}

.card-image img {
    width: 100%;
}

.card-info {
    height: 50%;
    line-height: 1.5;
}

.card-info h3 {
    padding-bottom: 20px;
}

.space2 h2 {
    width: 60%;
    margin-top: 60px;
}

/*Designit*/

.color-box {
    margin-top: 40px;
    display: flex;
}

.box-left,
.box-center,
.box-right {
    width: calc(100% / 3);
}

.box-left,
.box-right {
    display: flex;
    flex-wrap: wrap;
}

.small-box {
    width: 50%;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box img {
    width: 130px;
}

.designit {
    width: 80%;
    margin: 0 auto;
}

.designit img {
    margin-top: 40px;
    width: 200px;
}

.line {
    position: relative;
    width: 80px;
    padding-top: 30px;
    border-bottom: 1px solid rgb(214, 214, 217);
}

.designit p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.small-box img {
    filter: invert(100%);
    width: 50%;
}

.box-center {
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
    height: 30vw;
    width: calc(100% - 60vw);
}

.des {
    background-color: rgb(162, 211, 155);
    border: 10px solid rgb(209, 233, 205);
}

.asu {
    background-color: rgb(97, 8, 43);
}

.uf {
    background-color: rgb(0, 147, 206);
}

.topps {
    background-color: rgb(255, 28, 28);
}

.wbr {
    background-color: rgb(213, 0, 31);
}

.hearst {
    background-color: rgb(180, 208, 231);
}

.l-planet {
    background-color: rgb(13, 36, 129);
}

.cco {
    background-color: rgb(255, 216, 48);
}

.last-color {
    background-color: rgb(180, 208, 231);
    margin-bottom: 50px;
    height: 300px;
    margin-top: -150px;
}

.last-color .small-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.try-text {
    width: 40%;
}

.try-text h2 {
    color: rgb(97, 8, 43);
    margin-top: 50px;
    font-size: 30px;
}

.btn-5 {
    background-color: white;
    color: black;
    padding: 10px 35px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.btn-5:hover {
    background-color: rgb(235, 235, 235);
}

/*Questions*/

.question {
    margin-bottom: 60px;
}

.questions h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
}

.question .small-container:last-child {
    border-bottom: 1px solid rgb(162, 162, 162);
}

.question-hr i {
    padding-right: 30px;
    padding-top: 30px;
}

.question-text {
    font-weight: bold;
}

.question-box {
    border-top: 1px solid rgb(162, 162, 162);
    position: relative;
    min-height: 30px;
    align-items: center;
    padding: 20px 0;
}

.question-text h4 {
    margin: 10px;
}

.question-box i {
    position: absolute;
    top: 2px;
    right: 10px;
}

.question-box:hover i {
    rotate: 180deg;
    padding-left: 30px;
    padding-bottom: 30px;
}

.question-box .hidden {
    display: none;
}

.question-box:hover .hidden {
    display: block;
    font-size: 15px;
}

/*Footer_section*/

footer {
    background-color: black;
    color: white;
    justify-content: space-between;
    width: 100%;
}

.list {
    display: flex;
    flex-basis: calc(100% / 5);
    line-height: 1.2;
}

.list h4 {
    font-size: 25px;
}

.list a {
    font-size: 14px;
}

.list a:hover {
    text-decoration: underline;
}

.list ul {
    padding-top: 80px;
    padding-right: 115px;
    padding-bottom: 40px;
}

.list li {
    padding-bottom: 15px;
}

ul h4 {
    padding-bottom: 15px;
}

ul a {
    text-decoration: none;
    color: white;
}

hr {
    width: 10%;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
    margin-top: 40px;
    display: inline-block;
    position: relative;
}

.fa-earth-americas {
    margin-right: 10px;
    font-size: 20px;
}