/*style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1320px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 150px auto;
}

.small {
    width: 37%;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

/* header */

header nav {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 0.5px solid grey;
    position: fixed;
    padding:0 10px;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: space-between;
}

header nav .d-flex {
    align-items: center;
}

header nav img {
    height: 27%;
    padding-right: 15px;
}

.btn-inizia {
    background-color: rgb(0, 97, 255);
    padding: 8px 18px;
    color: white;
}

header nav ul li {
    padding-left: 30px;
}

/*Jumbo*/

#jumbotron {
    background-color: rgb(180, 208, 231);
    margin-top: 30px;
}

#jumbotron .container {
    position: relative;
    bottom: -70px;
}

h1 {
    font-size: 76px;
    font-weight: 900;
    padding-bottom: 40px;
}

.d-flex {
    display: flex;
}

#jumbotron img {
    width: 100%;
}

.btn-jumbo {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px;
    width: 60%;
    margin-top: 10px;
}

.space {
    padding-top: 50px;
}

.w-30 {
    flex-flow: column wrap;
    position: relative;
}

.w-30 p {
    line-height: 25px;

}

.w-30 a {
    position: relative;
    top: 50px;
    left: 0;
}

.w-30 i {
    position: relative;
    font-size: 50px;
    top: 100px
}

/*Main*/

#main-plans {
    font-size: 40px;
    padding-bottom: 25px;
}

.radio-div {
    height: 50px;
    padding-right: 30px;
}

.radio-div span {
    line-height: 50px;
}

.circle {
    display: inline-block;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

#checked {
    border: 6px solid rgb(0, 97, 255);
}
#non-checked {
    border: 3px solid rgb(203, 203, 206);
}