/*style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    min-width: 1320px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.w-30 {
    width: 30%;
    flex-flow: column wrap;
    position: relative;
}

.w-70 {
    width: 70%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 150px auto;
}

.small {
    width: 37%;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

/* header */

header nav {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 0.5px solid grey;
    position: fixed;
    padding: 0 15px;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: space-between;
}

header nav .d-flex {
    align-items: center;
}

header nav img {
    height: 50%;
    padding-right: 15px;
}

.btn-inizia {
    background-color: rgb(0, 97, 255);
    padding: 8px 18px;
    color: white;
}

header nav ul li {
    padding-left: 30px;
}

/*Jumbo*/

#jumbotron {
    background-color: rgb(180, 208, 231);
    margin-top: 30px;
}

#jumbotron .container {
    position: relative;
    bottom: -70px;
}

h1 {
    font-size: 76px;
    font-weight: 900;
    padding-bottom: 40px;
}

.d-flex {
    display: flex;
}

#jumbotron img {
    width: 100%;
}

.btn-jumbo {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px;
    width: 60%;
    margin-top: 10px;
}

.space {
    padding-top: 50px;
}

.w-30 p {
    line-height: 25px;
    font-size: 16px;
}

.w-30 a {
    position: relative;
    top: 50px;
    left: 0;
    font-size: 15px;
}

.w-30 i {
    position: relative;
    font-size: 50px;
    top: 100px
}

/*Main*/
/*checkbox*/

#main-plans {
    font-size: 40px;
    padding-bottom: 25px;
}

.small-container h2 {
    margin-bottom: 60px;
    font-size: 37px;
}

.radio-div {
    height: 50px;
    padding-right: 30px;
}

.radio-div p {
    line-height: 22px;
    font-size: 15px;
}

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container-radio:hover input~.checkmark {
    background-color: #ccc;
}

.container-radio input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked~.checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
}

/*Plan_section*/

#plans-pad {
    padding-top: 30px;
}

.table {
    width: calc((100% - 80px) / 3);
    border: 1px solid rgb(214, 214, 217);
    min-height: 1000px;
}

.fa-user,
.fa-building {
    font-size: 19px
}

.table p {
    font-size: 20px;
    display: inline-block;
    margin-left: 5px;
}

.user-type {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(214, 214, 217);
}

.plans-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 2.0;
    font-size: medium;
}

.plans-container h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 16px;
}

.price {
    display: inline-block;
    font-weight: 900;
    padding: 10px 0;
}

.month {
    color: rgb(162, 162, 163);
}

.info {
    padding: 35px 0;
}

.info i {
    margin-right: 5px;
}

.info-2 {
    padding-bottom: 18px;
}

.btn-prova {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 15px;
    width: 60%;
}

.slash-hr {
    display: inline-block;
    padding: 20px 5px 30px 0;
    border-bottom: 1px solid rgb(208, 208, 211);
}

.col-plan h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 16px;
}

.fa-check {
    color: rgb(0, 97, 255);
    padding-right: 5px;
}

.info-3 {
    padding-top: 10px;
}

.table-center {
    margin: 0 40px;
}